.nav-logo{
    font-size: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.myflix {
    color:black;
    text-decoration: none;
}

.nav-profile {
    margin-left:15px;
}