.movie-card {
    max-width: 650px;
    padding:10px;
    background-color: rgb(227, 220, 220);
    margin-right: 15px;
    margin-top: 15px;
}


.movie-img{
    width: auto;
    height: 400px;
}

.title {
    font-size: 40px;
}

.actions button {

    border: 5px;
    border-style:inset;
    border-radius: 20%;
    border-color: rgb(89, 81, 81);
    background-color: black;
    font-size: 20px;
    margin-right: 40px;
    color: white;
}

.actions button:hover {
background-color: white;
color: black;
}

.movie-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .movie-column {
    flex: 1 1 50%; /* two columns with equal width */
    padding: 10px; /* optional: add padding between columns */
  }
  