<app-navbar></app-navbar>
<div style="display: flex;">
    <mat-card class="movie-card" *ngFor="let movie of movies;" style="flex: 1 1 auto;">
        <mat-card-header>
        <mat-card-title class="title">{{movie.Title}}</mat-card-title>
            <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
        </mat-card-header>
        <img class= "movie-img" src={{movie.ImagePath}} alt= {{movie.Title}} />
        <mat-card-actions class="actions">
            <button
                mat-button
                color="primary"
                routerLink="/genre"
            >
                Genre
            </button>
            <button
                mat-button
                color="primary"
                routerLink="/director"
            >
                Director
            </button>
            <button
                mat-button
                color="primary"
                routerLink="/description"
            >
                Description
            </button>
            <mat-icon>favorite_border</mat-icon>
        </mat-card-actions>
    </mat-card>
</div>